PORT=8000

MONGODB_URI=mongodb+srv://partimerbhindmask_db_user:@lecture-scheduler-clust.gcfgobw.mongodb.net

CORS_ORIGIN=http://localhost:5173

ACCESS_TOKEN_SECRET=kmvfLh3RYawQwBdI7f1FHUeLWtVqrzkG3V3yfxpbJcda4gmoaqG8PSPMhsh3Di76
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=gfx1WDwQByUAiDWMs86g2TWLt538TgJtyuikQSYhKVMYzu6XesErQocCJzIfb78v
REFRESH_TOKEN_EXPIRY=15d

CLOUDINARY_CLOUD_NAME=r0zcwxpo
CLOUDINARY_API_KEY=15348573
CLOUDINARY_API_SECRET=F_3SK0mw5QqmnVCakoY